[
  {
    "target": "com/main/engine/Engine.setDisplayInfo(IIIII)V",
    "args": ["int:1080", "int:2400", "int:1080", "int:2400", "int:440"]
  },
  {
    "target": "com/main/engine/Engine.sendEvent(IILjava/lang/String;)Ljava/lang/String;",
    "args": ["int:1", "int:2", "string:test"]
  },
  {
    "target": "com/main/engine/Engine.onTouchEvent(IIIII)V",
    "args": ["int:0", "int:0", "int:300", "int:500", "int:0"]
  },
  {
    "target": "com/main/engine/Engine.pause()I",
    "args": []
  }
]
